@font-face {
    font-family: 'MADE Outer Sans';
    src: url('../fonts/MADEOuterSans-Bold.woff2') format('woff2'),
        url('../fonts/MADEOuterSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Outer Sans';
    src: url('../fonts/MADEOuterSans-Medium.woff2') format('woff2'),
        url('../fonts/MADEOuterSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Outer Sans';
    src: url('../fonts/MADEOuterSans-Black.woff2') format('woff2'),
        url('../fonts/MADEOuterSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Outer Sans';
    src: url('../fonts/MADEOuterSans-Light.woff2') format('woff2'),
        url('../fonts/MADEOuterSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Outer Sans';
    src: url('../fonts/MADEOuterSans-Thin.woff2') format('woff2'),
        url('../fonts/MADEOuterSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}