@use 'sass:color';
@use './utils/vars.scss' as *;

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: $color-bg;
  color: $color-text-main;
  font-family: $font-main;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  overflow-x: hidden;
  // scroll-behavior: smooth;
  // -webkit-text-size-adjust: 100%;
  // -ms-text-size-adjust: 100%;
  // -moz-text-size-adjust: 100%;
}

// ::-webkit-scrollbar {
//   width: 5px;
// }

// ::-webkit-scrollbar-thumb {
//   height: 30px;
//   background: #e50012;
// }

// ::-webkit-scrollbar-track {
//   background: #000;
// }


main {
  flex-grow: 1;
}

section {
  border-bottom: 1px solid $color-header-border;
}