@use "./utils/vars.scss" as *;

.header__logo-img {
  width: 128px;
  height: auto;
}

.hero {
  position: relative;
  isolation: isolate;
  height: 100dvh;
  padding: 100px 0;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: max-content;
  z-index: 1;

  width: 100%;
  // min-height: 100dvh;
}

.hero__bg {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: calc(100vh + 40px);
  z-index: 0;
  contain: layout paint;
}

.hero__bg-img {
  display: block;
  position: absolute;
  inset: 0;
  height: 100dvh;
  z-index: -1;
  @include bg-cover-ratio(523, 816);
}


.hero__title {
  font-weight: 500;
  word-wrap: break-word;
  font-size: 46px;
  line-height: 1.03;
}