.header__logo-img {
  width: 128px;
  height: auto;
  display: block;
}

.hero {
  position: relative;
  isolation: isolate;
  min-height: 100dvh;
  padding: 100px 0;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  z-index: 1;
  justify-content: center;
}

.hero__bg {
  position: absolute;
  z-index: 0;
  top: -40px;
  height: calc(100vh + 40px);
  left: 0;
  contain: layout style paint;
  will-change: transform, opacity;
  width: 100%;
  background-image: url("../images/hero/hero-m@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@supports (background-image: url("image/avif")) {
  .hero__bg {
    background-image: url("../images/hero/hero-m@1x.avif");
  }
}

@supports (background-image: url("image/webp")) {
  .hero__bg {
    background-image: url("../images/hero/hero-m@1x.webp");
  }
}


.hero__title {
  word-wrap: break-word;
  font-weight: 500;
  font-size: 46px;
  line-height: 103%;
}

@media screen and (min-width: 574px) {
  .hero__title {
    line-height: 106%;
    font-size: 60px;
  }
}

@media screen and (min-width: 936px) {
  .hero__container {
    flex-direction: row;
    height: 100dvh;
    padding-top: 63px;
    align-items: center;
  }

  .hero__title {
    font-size: 80px;
    line-height: 106%;
  }
}