@use "./utils/vars.scss" as *;
@use "sass:color";

.rooms {

  .swiper-button-prev,
  .swiper-button-next {
    background-color: $color-accent;
    color: #fff;
    border-radius: 50%;
    border: 4px solid $color-bg;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    position: absolute;
    @include transition($transition-property: (transform, background-color, border-color));

    &::after {
      font-size: 20px;
    }

    &:hover {
      transform: translateY(-50%) scale(1.3);
      background-color: color.adjust($color-accent, $lightness: -10%);
      border-color: color.adjust(#000, $lightness: -10%);
    }
  }

  .swiper-button-prev {
    left: 20px;
  }

  .swiper-button-next {
    right: 20px;
  }
}