@use './utils/vars.scss' as *;


.icon {
	display: block;
	fill: transparent;
	stroke: transparent;
	width: 62px;
	height: 62px;
}


.icon--location {
	left: 14px;
	fill: $color-accent;
	width: 24px;
	height: 24px;
	@include transition ($transition-property: (fill));
}