@use './utils/vars.scss' as *;


.icon {
	display: inline-block;
	fill: transparent;
	stroke: transparent;
	width: 30px;
	height: unset;
}



.icon--location {
	fill: currentColor;
	width: 24px;
	height: 24px;
}

.icon--scroll-btn {
	width: 60px;
	height: 60px;
}