@use './utils/vars.scss' as *;


.icon {
	display: block;
	fill: transparent;
	stroke: transparent;
	// width: 62px;
	// height: 62px;
}


.icon--location {
	fill: currentColor;
	width: 24px;
	height: 24px;
}