  @use "./utils/vars.scss" as *;

  .social {
    font-size: 0;
    line-height: 1;

    &__list {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &__link {
      @include transition($transition-property: transform);

      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.3);

          .icon {
            color: $color-accent;
          }
        }
      }

      &__icon {
        fill: currentColor;
        @include transition(fill);

        &:hover {
          fill: $color-text-main;
        }
      }
    }
  }