@use "./utils/vars.scss" as *;

.subscription {
  padding: 24px;


  &__container {
    background: linear-gradient(90deg, #e50012 0, #e50012);
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__block {
    padding: 32px 16px;
  }




}