@use "./utils/vars.scss" as *;

.title-h2 {
  font-weight: 500;
  font-size: clamp(2.25rem, 1.744rem + 2.16vw, 4.063rem);
  line-height: 1.25;
  margin-bottom: 34px;
}

.title-h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.38;
  margin-bottom: 48px;
}

.section-subtitle {
  color: $secondary-text;
  font-size: 18px;
  font-weight: 250;
  line-height: 28px;
  margin-bottom: 40px;
}