@use './utils/vars.scss' as *;

.burger {
  position: relative;
  border: none;
  padding: 0;
  width: $burger-width;
  height: $burger-height;
  color: $white;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;

  @media (any-hover: hover) {
    &:hover {
      color: $color-accent;
    }
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    @include transition ($transition-property: (color, transform, top));

  }

  &::before {
    top: 0;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    transform: translateY(-50%);
    @include transition ($transition-property: (transform, background-color));
  }

  &::after {
    top: calc(100% - #{$burger-line-height});
  }

  &.active {

    /* временно видно точно */
    &::before {
      top: 50%;
      transform: rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
    }

    .burger__line {
      transform: scaleX(0);
      opacity: 0;
    }
  }
}