// @use "./utils/vars.scss" as *;

.gift {
  padding-top: 60px;
  padding-bottom: 60px;

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }


  &__img {
    position: relative;
    display: block;

    // Контроль адаптивности:
    width: 100%;
    max-width: 960px;
    margin-inline: auto;

    // Стабильная пропорция (если вдруг забыли размеры)
    aspect-ratio: 712 / 466;

    // Можно добавить overflow, если уходит за границы:
    overflow: hidden;

    &-pic {
      height: auto;
      object-fit: cover;
      object-position: center;

      // GPU-ускорение:
      will-change: transform, opacity;
      backface-visibility: hidden;
      // Анимации типа `.shake`, `.reveal-rotate`:
      transform-origin: center;
      pointer-events: none; // если не интерактивно
    }
  }

  @media screen and (width > 767px) {
    &__content {
      flex-direction: row;
    }
  }
}