@use './utils/vars.scss' as *;

.header {
  border-bottom: 1px solid $color-header-border;
  height: 62px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  flex: 0 0 auto;
  font-weight: 500;

  max-width: 100%;
  top: 0;
  background: rgba($color-bg-header, .5);

  @include transition($transition-property: (background, backdrop-filter, border-bottom));

  &.is-active {
    background: $color-bg-header; // Фон при прокрутке
    -webkit-backdrop-filter: blur(26px); // Блюр при прокрутке
    backdrop-filter: blur(26px); // Блюр при прокрутке
  }


  &__container {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: space-between;
    // align-items: center;
  }

  &__logo {
    border-right: 1px solid $color-header-border;

    &-link {
      align-items: center;
      display: flex;
      height: 100%;
      padding: 0 22px 0 21px;
    }

    &-img {
      flex-shrink: 0;
      width: clamp(8rem, 6.743rem + 5.36vw, 12.5rem);
      height: auto;
    }
  }

  &__navbar {
    display: flex;
    flex: 1 0 auto;
  }

  .location,
  &__phone,
  &__menu {
    display: none;
  }

  .burger {
    .location {
      display: flex;
      position: relative;
      border-right: none;
      padding: 0;
      margin-right: 20px;

      &__item {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  &__phone-link {
    opacity: 0;
    width: 0;
    @include transition($transition-property: (opacity, width));
    color: inherit;
  }


  &__icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    flex-shrink: 0;
    @include transition($transition-property: color);
  }


  &__burger {
    padding: 0 clamp(1.25rem, 1.075rem + 0.74vw, 1.875rem);
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
  }


  @media screen and (min-width: 416px) {

    &__logo {

      &-link {
        padding: 0 30px;
      }
    }
  }


  @media screen and (width > 631px) {
    &__phone {
      display: flex;
      align-items: center;
      border-right: 1px solid $color-header-border;

      padding: 0 31px;
      cursor: pointer;

      @media (any-hover: hover) {
        &:hover {

          .header__icon,
          .header__phone-link {
            color: $color-accent;
          }
        }
      }
    }
  }

  @media screen and (min-width: 769px) {
    &__menu {
      display: flex;
      align-items: center;
      margin-left: auto;

      &-list {
        border-right: 1px solid hsla(0, 0%, 100%, .15);
        display: flex;
        height: 100%;
        width: 100%;
      }

      &-item {
        position: relative;
        border-left: 1px solid $color-header-border;
        display: none;
        @include transition($transition-property: color);

        @media (any-hover: hover) {
          &:hover {

            &:first-child .header__menu-link::after {
              border-top: 5px solid $color-accent;
            }
          }
        }

        &:first-child .header__menu-link {
          padding: 0 30px 0 60px;
          position: relative;
          margin-right: 30px;
        }

        &:nth-child(1) {
          display: block;
        }
      }

      &-link {
        align-items: center;
        color: inherit;
        display: flex;
        font-weight: 400;
        height: 100%;
        line-height: 18px;
        padding: 0 30px;
      }
    }
  }

  @media screen and (width > 880px) {
    .location {
      display: flex;
    }
  }



  @media screen and (min-width: 991px) {
    &__menu-item:nth-child(2) {
      display: inline-block;
    }
  }

  @media screen and (width > 1025px) {
    &__menu-item:nth-child(3) {
      display: inline-block;
    }
  }

  @media screen and (width > 1440px) {
    &__phone {
      padding: 0 27px 0 20px;
      gap: 7px;

      &-link {
        opacity: 1;
        width: 100%;
      }
    }
  }
}