@use "./utils/vars.scss" as *;

.hero {
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: max-content;

    z-index: 10;

    @media screen and (width <=767px) {
      position: relative;
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 52px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    z-index: -1;
    height: 100vh;

    // по умолчанию: мобилка (320–767px)
    background-image: url("../images/hero/hero-m.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -40px;

    @media (min-width: 768px) {
      background-image: -webkit-image-set(url(../images/hero/hero1@1x.avif) type("image/avif") 1x,
          url(../images/hero/hero1@2x.avif) type("image/avif") 2x,
          url(../images/hero/hero1@3x.avif) type("image/avif") 3x,
          url(../images/hero/hero1@1x.webp) type("image/webp") 1x,
          url(../images/hero/hero1@2x.webp) type("image/webp") 2x,
          url(../images/hero/hero1@3x.webp) type("image/webp") 3x,
          url(../images/hero/hero1@1x.jpg) type("image/jpeg") 1x,
          url(../images/hero/hero1@2x.jpg) type("image/jpeg") 2x,
          url(../images/hero/hero1@3x.jpg) type("image/jpeg") 3x);
      background-image: image-set(url(../images/hero/hero1@1x.avif) type("image/avif") 1x,
          url(../images/hero/hero1@2x.avif) type("image/avif") 2x,
          url(../images/hero/hero1@3x.avif) type("image/avif") 3x,
          url(../images/hero/hero1@1x.webp) type("image/webp") 1x,
          url(../images/hero/hero1@2x.webp) type("image/webp") 2x,
          url(../images/hero/hero1@3x.webp) type("image/webp") 3x,
          url(../images/hero/hero1@1x.jpg) 1x,
          url(../images/hero/hero1@2x.jpg) 2x,
          url(../images/hero/hero1@3x.jpg) 3x);
    }
  }

  &__image {
    position: absolute;
    left: 40px;
    top: 146px;

    width: clamp(6.313rem, 4.218rem + 8.94vw, 13.813rem);

    &-pic {
      transform-origin: center;
      display: block;
      max-width: 100%;
    }
  }

  &__content {
    padding-top: 341px;
    width: 100%;
  }

  &__title {
    max-width: 340px;
    word-wrap: break-word;
    font-weight: 500;
    font-size: clamp(2.875rem, 2.385rem + 2.45vw, 5rem);
    line-height: 103%;
  }

  &__description {
    max-width: 700px;
    // padding-block-start: 21px;
    // padding-block-start: 17px;
    padding-top: clamp(1.063rem, 0.993rem + 0.3vw, 1.313rem);
    // padding-bottom: 32px;
    padding-bottom: clamp(1.875rem, 1.84rem + 0.15vw, 2rem);
    // font-size: 24px;
    font-size: clamp(0.875rem, 0.7rem + 0.74vw, 1.5rem);
    line-height: 1.41666;
  }

  // &__btn {
  //   animation-delay: 0.8s;
  // }

  /*
  
  Медиа-запросы
  
  */



  @media screen and (min-width: 574px) {
    &__title {
      max-width: 476px;
      line-height: 106%;
    }
  }

  @media (min-width: 768px) {
    &__container {
      align-items: center;
    }

    &__content {
      padding-top: 300px;
    }

    &__title {
      max-width: 518px;
    }

    &__image {
      left: 80%;
      top: 542px;
    }
  }

  @media screen and (min-width: 930px) {
    &__title {
      line-height: 106%;
    }
  }
}






/*Анимации*/