@use "./utils/vars.scss" as *;

.hero {
  position: relative; // создаём контекст для абсолютного позиционирования
  isolation: isolate; // чтобы z-index не конфликтовал
  // height: auto;
  // min-height: 100dvh; // Используем “динамическую” высоту
  padding: 100px 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  height: 100dvh;
  // height: auto;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    z-index: 1;
    justify-content: center;

    // height: 100dvh;
  }

  &__bg {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: calc(100vh + 40px);
    z-index: 0;
    contain: layout paint;

    &::after {
      background: $linear-gradient;
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      pointer-events: none;
    }

    &-img {
      position: absolute;
      inset: 0;
      height: 100dvh;
      @include bg-cover-ratio(523, 816);
      z-index: -1;
    }
  }

  &__image {
    width: 125px;
    height: 125px;
    aspect-ratio: 1 / 1;
    align-self: flex-end;

    &-pic {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform-origin: center;
    }
  }

  &__content {
    padding-top: 43px;
    width: 100%;
  }

  &__title {
    word-wrap: break-word;
    font-weight: 500;
    font-size: 46px;
    line-height: 1.03;
  }

  &__description {
    padding-top: clamp(1.688rem, 1.139rem + 2.34vw, 2.5rem);
    padding-bottom: clamp(2.625rem, 2.203rem + 1.8vw, 3.25rem);
    font-size: clamp(0.875rem, 0.7rem + 0.74vw, 1.5rem);
    line-height: 1.41666;
  }

  &__btn {
    margin-top: 10px;
  }

  @media screen and (max-width: 1024px) and (orientation: landscape) {
    min-height: 100dvh; // Используем “динамическую” высоту
    height: max-content;

    &__container {
      max-width: none;
      width: 100%;
      margin: 0;
    }

    &__bg {
      top: 0;
      height: 100dvh;

      &::after {
        inset: 0 0 auto 0; // только снизу
      }
    }
  }

  @media screen and (min-width: 574px) {
    &__title {
      line-height: 106%;
      font-size: 60px;
    }
  }


  @media screen and (min-width: 936px) {

    &__container {
      flex-direction: row;
      height: 100dvh;
      padding-top: 63px;
      align-items: center;
    }

    &__title {
      font-size: 80px;
      line-height: 106%;
    }

    &__image {
      position: absolute;
      width: 222px;
      height: 222px;
      right: 20px;
      top: 80px;
    }
  }
}