@use "./utils/vars.scss" as *;
@use "sass:color";

.rooms {

  .swiper-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  @media (min-width: 426px),
  (orientation: landscape) {
    .swiper-wrapper {
      flex-direction: row;
    }

    .slider-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #d60000;
      color: white;
      border: none;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 4px solid $color-bg;
      opacity: 1;
      visibility: visible;
      animation: pulse 1.8s ease-in-out infinite;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      pointer-events: auto;


      &.prev {
        left: 10px;

        &::before {
          content: url("../images/icons/arrow-prev.svg");
        }
      }

      &.next {
        right: 10px;

        &::before {
          content: url("../images/icons/arrow-next.svg");
        }
      }

      &.is-disabled {
        opacity: 0.4;
        pointer-events: none;
      }

      &.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }

    // .rooms__cards.swiper {
    //   // overflow: visible;
    // }

    .rooms__card.swiper-slide {
      width: 327px;
      max-width: 100%;
      flex-shrink: 0;
    }
  }
}